<section class="side-nav">
 <div class="container">
   <div class="row">

    <div class="col-3">
     <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <i class="fa fa-twitter fa-3x text-primary"></i>
      <a class="nav-link"  href="/" role="tab" aria-selected="true"><span><i class="fa fa-home mr-2"></i></span>Home</a>
      <a class="nav-link"  href="/explore" role="tab"  aria-selected="false"><span><i class="fa fa-hashtag mr-2"></i></span>Explore</a>
      <a class="nav-link"  href="/notification" role="tab"  aria-selected="false"><span><i class="fa fa-bell mr-2"></i></span>Notifications</a>
      <a class="nav-link"  href="/message" role="tab"  aria-selected="false"><span><i class="fa fa-envelope mr-2"></i></span>Messages</a>
      <a class="nav-link"  href="/bookmark" role="tab"  aria-selected="false"><span><i class="fa fa-bookmark mr-2"></i></span>Bookmarks</a>
      <a class="nav-link"  href="/list" role="tab"  aria-selected="false"><span><i class="fa fa-list mr-2"></i></span>Lists</a>
      <a class="nav-link"  href="/profile" role="tab"  aria-selected="false"><span><i class="fa fa-user mr-2"></i></span>Profile</a>
      <a class="nav-link"  href="/more" role="tab"  aria-selected="false"><span><i class="fa fa-ellipsis-h mr-2"></i></span>More</a>
      <a><button type="button" class="btn btn-primary ml-3 mt-3">tweet</button></a>
    </div>
  </div>

  </div>
 </div>
</section>